@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&family=Lora:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');



a {
    color: white;
}

/*index*/

.background {
    
    background: url("https://i.ibb.co/JqGwLwZ/desktop.jpg");
    height: 100vh;
    background-size: cover;
    overflow: hidden;

}



.logo{
    
   margin-top: 48px;
   padding-left: 50px;
}



.nav-options {
    backdrop-filter: blur(28px);
    height: 70px;
    justify-content: center;
    display: flex;
    margin-top: 36px;
    background: rgba(255, 255, 255, 0.05);
}

.hamburger {
    position: absolute;
    top: 20px;
    right: 25px;
}

.hamimg {
    background: transparent;
    border-color: transparent;
}

.para {
    padding-inline: 30px;
    color: white;
    font-size: 14px;
    top: 10px;
    letter-spacing: 3px;
    font-family: 'Barlow Condensed', sans-serif;
    background-color: transparent;
    border: none;
    white-space: nowrap;
    
  
}



.para1 {
 font-family: 'Barlow Condensed', sans-serif;
 letter-spacing: 2px;
 text-transform: uppercase;
 font-size: 23px;
 color: rgba(250, 248, 248, 0.808);
 
 
}

.para2 {
    font-size: 13px;
    font-weight: lighter;
    color: rgba(250, 248, 248, 0.822);
}



.head {
    font-size: 95px;
    font-family: 'Lora', serif ;
    color: white;
}

.explore {
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    color: black;
    border-radius: 50%;
    font-size: 30px;
    height: 215px;
    width:240px;
    letter-spacing: 3px;
    font-family: 'EB Garamond', serif;
    margin-top: 70px;
}



/*destination*/

.destination {
    background: url("https://i.ibb.co/8rSSG0G/background-destination-desktop.jpg");
    height: 100vh;
    background-size: cover;
    overflow: hidden;
}


.marsimg {
    height: 300px;
    margin-top: 7%;
    margin-left: 5%;
    
}

.despara {
    padding-left: 10%;
    margin-top: 2%;
    margin-bottom: 0;
}

.buttons {
    margin-top: 4%;
}

.des {
    background-color: transparent;
    border-width: 0;    
    color: rgba(250, 248, 248, 0.822);
    padding-inline: 2%;
    font-family: 'Barlow Condensed', sans-serif;
    outline: none;    
}

.time {
    
    color: white;
}

.des-para {
    font-family: 'Barlow Condensed', sans-serif;
    color: rgba(250, 248, 248, 0.822);
    font-size: 13px;
    
}

.des-time {
    font-family: 'Lora', serif ;
    color: antiquewhite;
    font-size: 19px;
}

/* crew */

.crew {
    background: url("https://i.ibb.co/NYsMW89/background-crew-desktop.jpg" );
    height: 100vh;
    background-size: cover;
    text-transform: uppercase;
    overflow: hidden;
    
   
}

.crewimg {
    height: 350px;
    margin-left: 35%;
    margin-top: 5%;
}

.crewpara {
    color: gray;
    font-size: 32px;
    margin: auto;
    margin-top: 3%;
    font-family: 'Forum', cursive;
    letter-spacing: 2px;
}

.crew-para {
    padding-top: 5%;
    padding-left: 62px;
}

.crewhead {
    color: white;
    font-size: 55px;
    letter-spacing: 2px;
    font-family: 'Forum', cursive;
    text-transform: uppercase;
}

.crewpara1 {
    color: #adc7e0;
    margin-top: 2%;
    padding-inline-end: 17%;
    font-size: 13px;
}

.circles {
    background-color: #353841;
    height: 13px;
    width: 13px;
    border-radius: 50px;
    border: none;
    margin-left: 5%;
    
}



/* teCH */

.tech {
    background: url("https://i.ibb.co/5B6WcqY/background-technology-desktop.jpg" );
    height: 100vh;
    background-size: cover;
    overflow: hidden;      
}



.tech-cont {
    padding-top: 3%;
    padding-left: 4%;
}

.tech-head {
    margin-bottom: 4%;
    padding-left: 3%;
}

.techpara {
    color: white;
    font-size: 14px;
    letter-spacing: 3px;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 600;
}

.techpara1 {
    padding-inline-end: 28%;
    margin-top: 0;
    text-transform: uppercase;
}

.btn-cont {
    padding-left: 3%;
    column-gap: 50px;
}

.tech-btn {
    border-radius: 50px;
    height: 60px;
    width: 60px;
    color: white;
    border-color: white;
    border-width: 0.1px;
    font-family: 'Forum', cursive;
    font-size: 25px;
    background-color: transparent;
    

}

.tech-img {
    height: 350px;
    padding-left: 26%;
}






@media screen and (min-width:990px) {
    .para:hover, .des:hover {
        text-decoration: underline;
        text-underline-offset: 8px;
    }

    a:hover {
        color: white;
    }

    .hamburger {
        display: none;
        margin: 0;
    }
    
    .home {
        display: flex;
        align-items: center;
        height: 100%;
    }

    .nav-child {
    
        display: flex;
        align-items: center;
        
    
    }

    .hamimg {
        display: none;
    }

    /*tech*/

    #tech-img2 {
        display: none;
    }
}



@media screen and (max-width:576px) {


    .home {
        margin-top: 90px;
    }

    .navb {
        backdrop-filter: blur(28px);
        z-index: 1;
    }


    .nav-options {
        display:none;
        flex-direction: column;
        align-items: center;
        height: 180px;
        left: 0;
        right: 0;
        z-index: 1;
        margin: 0;
    }

    .button {
        display: flex;
    }

    .para {
        margin: 8px;
        display: block;
    }

    .background {
        background: url("https://i.ibb.co/0M9hv7P/background-home-mobile.jpg" );
        background-size: cover;
        height: 120vh;
    }

   .head {
        font-size: 80px;
        font-weight: 400;
        margin-bottom: 20px;
        letter-spacing: 5px;
        text-align: center;
    }

    .logoimg {
        height: 40px;
    }
     
    .logo {
        margin-top: 20px;
        padding-left: 40px;
        
    }

    .explore {
        height: 168px;
        width: 170px;
        font-size: 24px;
        margin-top: 55px;
    }

    .para2 {
        font-size: 16px;
        text-align: center;
    }
    
    .para1 {
        font-size: 20px;
        text-align: center;
    }

    /*destination*/


    .destination {
        background: url("https://i.ibb.co/vHXFFbW/background-destination-mobile.jpg" );
        height: 140vh;
        background-size: cover;
    }

    .despara {
        padding-left: 0;
        margin-top: 68px;        
    }

    .marsimg {
        height: 180px;
        margin-left: 85px;        
    }

    .buttons {
        margin-top: 8%;
        text-align: center;
    }

    /* crew */

    .crew {
        background: url("https://i.ibb.co/hDR84pr/background-crew-mobile.jpg" );
        height: 120vh;
        background-size: cover;
       
        padding-inline: 0;
    }

    .crewimg {
        height: 220px;
        margin-left: 25%;
        margin-top: 0;
    }

    .crewpara {
        text-align: center;
        font-size: 25px;
        margin-top: 5%;
        
    }

    .crew-para {
        padding-left: 0;
        margin-top: 50px
    }
    
    .crewhead {
        font-size: 35px;
        text-align: center;
    }

    .crew-btn {
        display: flex;
        justify-content: center;
    }

    .crewpara1 {
        text-align: center;
        padding-inline: 10%;
        font-size: 12px;
        
    }



    /* technology */

    .tech {
        background: url("https://i.ibb.co/dr0Th8B/background-technology-mobile.jpg" );
        background-size: cover;
        height: 120vh;
    }

    .tech-cont {
        padding-left: 0;
    }


    .tech-img {
        height: 200px;
        margin-top: 5px;
        padding-left: 0;
    }
    
    #tech-img1 {
        display: none;
    }

    .tech-btn {
        height: 45px;
        width: 45px;
        font-size: 20px;
    }

    .techpara {
        text-align: center;
        margin-top: 15px;
    }

    .btn-cont {
        justify-content: center;
        column-gap: 50px;
        margin-top: 25px;
    }

}

